button {
  padding: 1px 5px;
  border-radius: 20px;
  border: 2px solid theme("colors.indigo.900");
  background-color: theme("colors.indigo.900");
  color: white;
  cursor: pointer;

  &:active {
    background-color: white;
    color: theme("colors.indigo.900");
  }
}

p {
  margin-bottom: theme("spacing.3");
}

a {
  color: theme("colors.indigo.500");
}

.defaultInput {
  margin-top: theme("spacing.2");
  margin-bottom: theme("spacing.2");
  padding: theme("spacing.1");
  border-radius: theme("borderRadius.lg");
  border: 2px solid theme("colors.indigo.500");

  &:focus,
  &:focus-visible {
    border: 2px solid theme("colors.indigo.500") !important;
  }
}
