// Default styles that we don't want to redefine everywhere in the app
button {
  padding: 1px 5px;
  border-radius: 20px;
  border: 2px solid indigo;
  background-color: indigo;
  color: white;
  cursor: pointer;

  &:active {
    background-color: white;
    color: indigo;
  }
}
